.app{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: red;
}
.row{
    display:flex;
    width:35%;
    
}
.SpecialRow{
    display:flex;
    width:35%;
    
}
